* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  min-height: 700px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mobile-section {
  border: 25px solid white;
  height: 1000px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background-color: hsl(268, 100%, 97%);
  width: auto;
}

.mobile-section .camera {
  background-color: white;
  width: 300px;
  height: 30px;
  position: absolute;
  margin-left: auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.mobile-section header {
  color: white;
  background-image: linear-gradient(
    to bottom,
    hsl(276, 100%, 81%),
    hsl(276, 55%, 52%)
  );
  text-align: left;
  width: 400px;
  height: 120px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 20px;
  display: flex;
}

.mobile-section header .profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.mobile-section header .profile p {
  opacity: 0.5;
}

.mobile-section header img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: 3px solid white;
}

.mobile-section .messages {
    width: 150px;
}

.mobile-section .message {
  margin-top: 20px;
}

.mobile-section .message {
    display: flex;
}

.left,
.price {
  text-align: left;
  width: 250px;
  padding: 10px 20px 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: hsl(277, 86%, 92%);
  position: static;
  float: right;
  gap: 15px;
}

.right {
  width: 250px;
  padding: 10px 20px 10px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  position: static;
  float: left;
}

.messages .images img {
  width: 50px;
  border-radius: 15px;
}

.price {
  color: white;
  background-image: linear-gradient(
    to top right,
    hsl(276, 100%, 81%),
    hsl(276, 55%, 52%)
  );
}

.price span {
  font-weight: bolder;
  font-size: 20px;
}

.price .circle {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 100%;
}

.message-input input {
  border: none;
  width: 500px;
  height: 50px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
